@font-face {
    font-family: sub;
    src: url("../fonts/AlexBrush-Regular.ttf");
}

@media all{
	body.printView, body.printView:before, body.printView:after { 
		border : none !important;
	}
.certificate-wrapper {
    overflow: hidden;
}
.certificate-border{
    width: 297mm;
    height: 210mm;
    border: 1pt solid rgba(46, 45, 45, 0.316);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}
.certificate-background {
    width: 275mm;
    height: 188mm;
    border: 3pt solid rgba(119, 91, 19, 0.583) !important;
    padding: 5mm;
    position: absolute;
}

.bar1 {
    width: 100mm;
    height: 4mm;
    background-color: #082c63;
    position: relative;
    left: -31mm;
    transform: rotate(-48deg);
    z-index: -22223;
}

.bar2 {
    width: 100mm;
    height: 8mm;
    background-image: radial-gradient(circle, rgba(225, 220, 201, 0.844), rgb(172, 123, 0));
    position: relative;
    left: -32mm;
    top: 14mm;
    transform: rotate(-48deg);
    z-index: -22223;
}

.bar3 {
    width: 182mm;
    height: 4mm;
    background-color: #163a70;
    position: relative;
    left: -49mm;
    transform: rotate(-48deg);
    z-index: -22223;
}

.bar4 {
    width: 100mm;
    height: 4mm;
    background-color: #163a70;
    position: relative;
    right: -214mm;
    bottom: -160mm;
    transform: rotate(-48deg);
    z-index: -22223;
}

.bar5 {
    width: 130mm;
    height: 8mm;
    background-image: radial-gradient(circle, rgba(225, 220, 201, 0.979), rgb(172, 123, 0));
    position: relative;
    left: 193mm;
    top: 142mm;
    transform: rotate(-48deg);
    z-index: -22223;
}

.bar6 {
    width: 182mm;
    height: 4mm;
    background-color: #163a70;
    position: relative;
    left: 148mm;
    top: 138mm;
    transform: rotate(-48deg);
    z-index: -22223;
}

.certificate-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 30mm;
}

.certificate-content .title {
    position: relative;
    font-size: 70pt;
    top: 5mm;
}

.certificate-content .sr-no {
    position: relative;
    bottom: 31mm;
    right: 47mm;
}

.certificate-content .date {
    position: relative;
    bottom: 35mm;
    left: 120mm;
}

.certificate-content .subtitle {
    position: relative;
    bottom: 6mm;
    font-size: 30pt;
}

.certificate-content .initial-content {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 2pt;
    bottom:5mm;
}

.certificate-content .candidate-name {
    position: relative;
    left: 2mm;
    font-family: sub;
    color: rgba(218, 165, 32, 0.844);
    font-size: 70pt;
    bottom: 6mm;
}

.certificate-content .main-content {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1pt;
    color: rgba(0, 0, 0, 0.809);
    bottom: 10mm;
}
.certificate-logo img{
    width: 40mm;
    position: relative;
    bottom: 84mm;
    left: 107mm;
}
.certificate-content .sign-president {
    position: relative;
    bottom: 23mm;
    right: 63mm;
    font-size: 20pt;
}

.certificate-content .sign-president-img {
    width: 40mm;
    position: relative;
    bottom: 23mm;
    right: 63mm;
}

.certificate-content .sign-director {
       position: relative;
       bottom: 46mm;
       left: 63mm;
   font-size: 20pt;
}

.certificate-content .sign-director-img {
    position: relative;
    width: 50mm;
    bottom: 46mm;
    left: 63mm;
}

.certificate-content .org-logo img{
    position: relative;
    width: 40mm;
    bottom: 60mm;
}

.certificate-content .org-name {
    position: relative;
    bottom: 70mm;
    color: blue;
    font-family: "Shojumaru", system-ui;
    font-weight: 400;
    font-size: 12pt;
    font-style: normal;
}

.certificate-content .org-address {
    position: relative;
    bottom: 65mm;
}
}